<div class="container mt-5">
<div class="card text-center" id="home-card">
  <div class="card-header">
    <h1 class="card-title" id="front-title">{{title1}}</h1>
   <h3 class="card-title" id="front-title1">{{title2}}</h3> 
  </div>
  <div class="card-body">
    <img class="rounded-circle" src="../assets/img/avatar2.png" width=170px alt="">
  </div>
  <div class="card-footer">
      <i class="fa fa-copyright" aria-hidden="true"></i> copyright {{d.getFullYear()}}
  </div>
</div>
</div>

<!-- getFullYear()	Get the year as a four digit number (yyyy)
getMonth()	Get the month as a number (0-11)
getDate()	Get the day as a number (1-31)
getHours()	Get the hour (0-23)
getMinutes()	Get the minute (0-59)
getSeconds()	Get the second (0-59)
getMilliseconds()	Get the millisecond (0-999)
getTime()	Get the time (milliseconds since January 1, 1970)
getDay()	Get the weekday as a number (0-6)
Date.now() -->